* {
    font-family: Arial, Helvetica, sans-serif;
}


thead {
    background-color: plum;
}

.body-background {
    background-color: lavenderblush;
}

.header-strip {
    text-align: center;
}

.code {
    background-color: burlywood;
}